body {
  background: linear-gradient(rgb(104 200 254), rgb(93 113 255));
  background: url("https://img.freepik.com/free-vector/hand-drawn-food-background_52683-2954.jpg?w=2000");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}