@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: yellow; */
}

body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;

}

.heading {
    text-align: center;
}

.container {
    display: flex;
    padding-bottom: 20em;
    width: 80vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.component1 {
    background-color: black;
}

.box1 {
    background: black;
    height: 65vh;
    width: 100%;
    border-radius: 20px;
    display: flex;
    padding: 8rem;
    align-items: center;
    justify-content: center;
    margin-top: 40rem;
    margin-bottom: 16rem;
}

.img-1 {
    height: 20rem;
}

.textBox {
    max-width: 30rem;
    margin-right: 4rem;
}

p {
    color: white;
    font-weight: 200;
    font-size: 1.2rem;
}

@media only screen and (max-width: 1000px) {

    /* body {
     padding: 2rem; 
  } */
    .box1 {
        background: black;
        /* background-color: rgb(4, 4, 4);  */
        /* position: relative;    */

        height: 90%;
        width: 100%;
        border-radius: 20px;
        display: flex;
        /* padding: 8rem; */
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* margin-top: 35rem; */
        /* margin-bottom: 16rem; */
    }
}

.box2 {
    background: black;
    /* background-color: rgb(4, 4, 4);  */
    /* position: relative;    */

    height: 65vh;
    width: 100%;
    border-radius: 20px;
    display: flex;
    padding: 8rem;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    margin-bottom: 15rem;
}

.img-1 {
    max-width: 100%;
}


@media only screen and (max-width: 1000px) {

    /* body {
     padding: 2rem; 
  } */
    .box2 {
        background: black;
        /* background-color: rgb(4, 4, 4);  */
        /* position: relative;    */

        height: 90%;
        width: 100%;
        border-radius: 20px;
        display: flex;
        padding: 8rem;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 2rem;
        margin-top: 50rem;
    }
}